[submodule "events"]
	path = events
	url = https://github.com/uncellon/hlk-events
[submodule "serialport"]
	path = serialport
	url = https://github.com/uncellon/hlk-serial-port
[submodule "log"]
	path = log
	url = https://github.com/uncellon/hlk-log
[submodule "qtlog"]
	path = qtlog
	url = https://github.com/uncellon/hlk-qt-log
[submodule "gpio"]
	path = gpio
	url = https://github.com/uncellon/hlk-gpio
[submodule "timers"]
	path = timers
	url = https://github.com/uncellon/hlk-timers.git
