[submodule "events"]
	path = events
	url = https://github.com/uncellon/hlk-events
[submodule "serialport"]
	path = serialport
	url = https://github.com/uncellon/hlk-serial-port
[submodule "logger"]
	path = logger
	url = https://github.com/uncellon/hlk-log
[submodule "gpio"]
	path = gpio
	url = https://github.com/uncellon/hlk-gpio
[submodule "timers"]
	path = timers
	url = https://github.com/uncellon/hlk-timers.git
[submodule "pool"]
	path = pool
	url = https://github.com/uncellon/hlk-pool
